{% if nav is not defined %}
{% set nav = '' %}
{% endif %}
<div id="sidebar" class="d-none d-xl-flex flex-column flex-shrink-0 p-3 text-secondary-emphasis bg-body-secondary" style="width: 220px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-secondary-emphasis text-decoration-none">
      <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-4">Sidebar</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="{{ path('app_home') }}" class="nav-link {{ nav == 'home' ? 'active' : 'text-secondary-emphasis'}}" aria-current="page">
          <twig:ux:icon class="bi pe-none me-2" name="fa-solid:home" />
          Accueil
        </a>
      </li>
      <li>
        <a href="{{ path('app_transaction_index') }}" class="nav-link {{ nav == 'transaction' ? 'active' : 'text-secondary-emphasis'}}">
          <twig:ux:icon class="bi pe-none me-2" name="fa-solid:money-bill-wave" />
          Transactions
        </a>
      </li>
      <li>
        <a href="{{ path('app_establishment_index') }}" class="nav-link {{ nav == 'establishment' ? 'active' : 'text-secondary-emphasis'}}">
          <twig:ux:icon class="bi pe-none me-2" name="fa-solid:landmark" />
          Banques
        </a>
      </li>
      <li>
        <a href="{{ path('app_category_index') }}" class="nav-link {{ nav == 'category' ? 'active' : 'text-secondary-emphasis'}}">
          <twig:ux:icon class="bi pe-none me-2" name="bi:tag-fill" />
          Categories
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-secondary-emphasis">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
          Customers
        </a>
      </li>
    </ul>
    <hr>
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center text-secondary-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong>mdo</strong>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
        <li><a class="dropdown-item" href="#">New project...</a></li>
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
      </ul>
    </div>
  </div>